@import "lib/nav.css";
@import "lib/footer.css";
@import "products.css";

body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    overflow: visible;
}

.product {
    width: 20em;
    min-height: 25em;
    margin-top: 70px;
    background: #f7f7f7;
    color: black;
}

.product-item {
    color: #2e2e2e;
}
