@import "lib/nav.css";
@import "lib/footer.css";
@import "lib/profilecard.css";
@import "lib/button.css";
@import "products.css";

body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    overflow: visible;
}

.product {
    width: 20em;
    min-height: 25em;
    margin-top: 30px;
    background: #fafafa;
    color: black;
}

.product-item {
    color: #2e2e2e;
}

.chart-img {
    margin-top: -100px;
}

.product-item p {
    color: #3a3a3a;
}

.product-item span {
    color: #EC3594;
}

.t-products{
    display:grid;
    grid-template-columns: 45% 45%;
    margin-left: 23px;
}

.t-products > img{
    box-shadow: 1px 5px 15px #CCC;
    border-radius: 3px;
    margin-bottom: 1px;
}

.green-button {
    margin-top: 30px;
}

p-desc {
    width: 100%;
    background-color: #cec9c954;
    color: #555;
}
