@import "lib/nav.css";
@import "lib/footer.css";
@import "userdashboard.css";

figcaption button {
    border: 1px solid #262734;
    border-radius: 3px;
    color: #fff;
    font-weight: 2em;
    padding: 1em 3em;
    margin: 1em 0 0 0;
    margin-top: -3px;
    background: #262734;
    cursor: pointer;
    transition: background ease-in 0.25s;
}

main {
    margin-top: 1px;
}

.product h1 {
    margin-top: -15px;
    color: #262734;
}
