@import "lib/nav.css";

body {
    background: #f2f2f2;
    overflow: visible;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
}

.row {
    position: absolute;
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    margin-top: 100px;
    z-index: -1;
}

.product {
    box-shadow: 1px 5px 15px #CCC;
    width: 15em;
    height: auto;
    border-radius: 3px;
    padding: 2em;
    margin: 1em;
    overflow: hidden;
    position: relative;
    flex: auto;
}

.product img {
    max-width: 100%;
    height: auto !important;
    text-align: center;
}

.product-item {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.product-item p {
    color: rgba(3, 3, 3, 0.9);
}

.product-item button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #FFF;
    border-radius: 3px;
    padding: 1em 3em;
    margin: 1em 0 0 0;
    background: none;
    cursor: pointer;
    transition: background ease-in 0.25s;
}

.product-item button:hover {
    background: white;
    color: #2B2D42;
}

.product-item button:before {
    font-family: FontAwesome;
    content: "";
    color: #FFF;
    position: absolute;
    font-size: 1.5em;
    margin: 0 -1.5em;
}

.product-item button:hover:before {
    color: #2B2D42;
}

