@import "lib/table.css";
@import "lib/nav.css";
@import "lib/footer.css";
@import "lib/button.css";

body {
    overflow: visible;
}

main {
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.green-button {
    margin: 10px;
    background: #262734;
}

.green-button:hover {
    background: #16161d;
}