@import "lib/nav.css";
@import "lib/table.css";


body {
    overflow: visible;
    max-width: 150%;
}

table {
    overflow: visible;
    margin-top: 33px;
}

main {
    margin-top: 115px;
}

button {
    background:linear-gradient(to bottom, #283758 5%, #1d2942 100%);
    color:#ffffff;
}

button a {
    color: white;
    text-decoration: none;
    font-size:15px;
}