@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@import "lib/nav.css";
@import "lib/footer.css";
@import "lib/profilecard.css";
@import "lib/button.css";
@import "products.css";

body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    overflow: visible;
}

.row {
    margin-top: 10px;
}

.product {
    width: 20em;
    min-height: 25em;
    margin-top: 30px;
    background: #fafafa;
    color: black;
}

.tp {
    color: #2e2e2e;
    margin-top: -30px;
}

.mp {
    margin-top: 100px;
}

.product-item h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}

.chart-img {
    margin-top: -100px;
    width: 250px;
    height: 250px;
}

.t-products{
    display:grid;
    grid-template-columns: 45% 45%;
    margin-left: 23px;
}

.t-products > img{
    box-shadow: 1px 5px 15px #CCC;
    border-radius: 3px;
    margin-bottom: 1px;
}

.t-products a {
    transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
}

.t-products a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.green-button {
    margin-top: 30px;
}

.p-desc {
    width: 100%;
    background-color: #cec9c954;
    height: 170px;
    margin-top: 20px;
    border: none;
}

.p-desc p {
    font-family: 'Josefin Sans', sans-serif;
    color: #555;
    font-size: 20px;
}

.p-desc span {
    color: #a1a1a1;
    font-size: 17px;
}