@media only screen and (max-width: 700px) {
    body {
        background: black;
    }
    .card {
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        margin: auto;
    }

    .card-div {
        margin: auto;
        position: absolute;
        left: 5px;
    }

    /* .card {
        transform: rotate(180deg);
    }
    .card > li {
        transform: rotate(-180deg);
    } */

    .card-item {
        position: static;
        display: inline-block;
        flex: 1 0 40%;
        box-sizing: border-box;
        color: #171e42;
        padding: 10px;
    }
}